attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.14.3
build==1.4.0
CacheControl==0.14.4
cachetools==7.0.5
cachy==0.3.0
certifi==2026.2.25
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.6
cleo==2.1.0
colorama==0.4.6
contourpy==1.3.3
coverage==7.13.5
crashtest==0.4.1
cryptography==46.0.5
cycler==0.12.1
dbus-python==1.4.0
distlib==0.4.0
distro==1.9.0
dulwich==1.1.0
evdev==1.9.3
fastjsonschema==2.21.2
filelock==3.25.2
findpython==0.7.1
fonttools==4.62.1
gpg==2.0.0b25
html5lib==1.1
idna==3.11
iniconfig==2.2.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.4.8
lark==1.3.1
lensfun==0.3.4
libtorrent==2.0.12
lit==22.1.1.dev0
lockfile==0.12.2
lxml==6.0.2
matplotlib==3.10.8
moddb==0.14.0
more-itertools==10.8.0
msgpack==1.1.2
nftables==0.1
nose==1.3.7
numpy==2.4.3
packaging==26.0
pbs-installer==2026.3.10
pexpect==4.9.0
pillow==12.1.1
pkg_resources==81.0.0
pkginfo==1.12.1.2
platformdirs==4.9.4
pluggy==1.6.0
poetry==2.3.2
poetry-core==2.3.1
poetry-plugin-export==1.9.0
prettytable==3.17.0
ProtonUp-Qt==2.15.0
psutil==7.2.2
ptyprocess==0.7.0
pyaml==25.1.0
pycairo==1.29.0
pycparser==3.0
pycryptodomex==3.23.0
pyelftools==0.32
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.54.5
pyparsing==3.3.2
pyproject-api==1.10.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
PySide6==6.10.2
PySocks==1.7.1
pytest==8.4.2
python-dateutil==2.9.0
python-discovery==1.2.0
python-xlib==0.33
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.30.0
SecretStorage==3.4.0
sentry-sdk==2.54.0
setproctitle==1.3.7
setuptools==82.0.1
shellingham==1.5.4
shiboken6==6.10.2
shiboken6-generator==6.10.2
six==1.17.0
smbus==1.1
solaar==1.1.19
soupsieve==2.8.3
TBB==0.2
tomlkit==0.14.0
torbrowser-launcher==0.3.7
tox==4.32.0
trove-classifiers==2026.1.14.14
typing_extensions==4.15.0
urllib3==2.6.3
vdf==4.0
virtualenv==21.2.0
wcwidth==0.6.0
webencodings==0.5.1
wheel==0.46.3
wxPython==4.2.4
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
zstandard==0.25.0
